@page
@model Cartheur.Research.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h3 class="display-4">About Cartheur</h3>
    <p>Since 2002 we have been trying to change the world. Since 2022 we are trying to change other worlds.</p>
</div>
