@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cartheur Index page</h1>
    <p>This is where the default material goes.</p>
</div>
