@page
@model Cartheur.Research.Pages.ProductsModel
@{
    ViewData["Title"] = "Products page";
}

<div class="text-center">
    <h1 class="display-4">The products we offer</h1>
    <p>Products go here.</p>
</div>
