@page
@model Cartheur.Research.Pages.ServicesModel
@{
    ViewData["Title"] = "Services page";
}

<div class="text-center">
    <h1 class="display-4">The services we provide</h1>
    <p>Services go here.</p>
</div>
