@page
@model Cartheur.Research.Pages.TeamModel
@{
    ViewData["Title"] = "Team page";
}

<div class="text-center">
    <h1 class="display-4">The Cartheur Research Team</h1>
    <p>Here is our team.</p>
</div>
